<style>
    :host {
        all: initial;
        display: block;
        contain: content;
        font-family: 'Segoe UI';
    }

    .header-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 24px 0;
    }

    .section-title {
        font-size: 32px;
    }

    .content-panel {
        background: #FFFFFF;
        box-shadow: 0px 2.61404px 16.9912px rgba(0, 0, 0, 0.042);
        user-select: none;
    }

    .open-button {
        background: linear-gradient(360deg, #266469 -62.96%, #419295 96.3%);
        border-radius: 3px;
        width: 140px;
        height: 28px;
        font-size: 12px;
        text-align: center;
        color: #FFFFFF;
        line-height: 28px;
        cursor: pointer;
    }

    img {
        width: 100%;
    }
</style>
<div class='header-panel'>
    <div class='section-title'>Continue Experiment</div>
    <div class='buttons-panel'>
        <div class="open-button">Open in Belows app</div>
    </div>
</div>
<div class='content-panel'>
    <img src='../assets/chart.png' />
</div>