<style>
    :host {
        all: initial;
        display: block;
        padding: 12px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #ECECEC;
        padding-bottom: 10px;
    }

    .title-panel {
        font-family: Segoe UI;
        font-style: normal;
        font-size: 18px;
        color: #333333;
    }

    .details-panel {
        display: flex;
        flex-direction: row;
    }

    .description-panel {
        flex-grow: 1;
        font-family: Segoe UI;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: #7E7E7E;

    }

    .go-button {
        height: 48px;
        width: 48px;
        background-color:#FFFFFF;
        outline: none;
    }

    .go-button:hover{
        background-color:#7E7E7E; 
    }
  
</style>

<div class="wrapper">

    <div class="details-panel">
        <div class="description-panel">
            <tr>
                <td>
                    <div class="title-panel">
                        <span class="display-name"></span>
                    </div>
                </td>
                <td><span class="description"></span></td>
            </tr>

        </div>
        <div>
            <button class="go-button channel-link direct-link" onClick="">
                <svg width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 24L12.5 12.5L0.999998 1" stroke="#3063B2" />
                </svg>
            </button>
        </div>
    </div>
</div>